<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

@if(Document.GetBool(SiteKeys.HasUnityWebGL))
{
    <link rel="stylesheet" href="@Context.GetLink("/builds/template/style.css")">
}


<!-- HTML Meta Tags -->
<title>FlexMotion</title>
<meta name="description" content="An easy-to-use play-on-demand animation system for Unity.
Take back control over your animations with FlexMotion!">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://flexmotion.moartis.dev">
<meta property="og:type" content="website">
<meta property="og:title" content="FlexMotion">
<meta property="og:description" content="An easy-to-use play-on-demand animation system for Unity.
Take back control over your animations with FlexMotion!">
<meta property="og:image" content="https://flexmotion.moartis.dev/img/flexmotion-keyart.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="flexmotion.moartis.dev">
<meta property="twitter:url" content="https://flexmotion.moartis.dev">
<meta name="twitter:title" content="FlexMotion">
<meta name="twitter:description" content="An easy-to-use play-on-demand animation system for Unity.
Take back control over your animations with FlexMotion!">
<meta name="twitter:image" content="https://flexmotion.moartis.dev/img/flexmotion-keyart.jpg">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
        